
<main class="home__container">
  <h1 class="home__title">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius, eros eu consectetur congue, magna ligula faucibus purus, et tincidunt libero sapien a lorem. Suspendisse pharetra ut nisl ac egestas. Sed viverra vitae ex interdum dapibus. In pretium magna non maximus dapibus. Integer viverra turpis sed ipsum placerat egestas. Nullam sit amet nulla nec justo venenatis suscipit. Phasellus sit amet vestibulum nisl, scelerisque sodales ante. Praesent lacus sapien, mattis lacinia ligula pretium, finibus elementum massa.
  </h1>

  <section class="home__actions">
    <button title="ir para empresas" pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-rounded p-button-help home__btn" (click)="scrollToCompany()"></button>
  </section>
</main>


<app-companies></app-companies>
